.layer-tools-loop,.layer-tools-volume{
  position: absolute;
  bottom: 40px;
  background: #fdfdfd;
  width: 150px;
  color: #fff;
  left: 0;
  border-radius: 6px;
  transition: transform .3s ease-in;
  transform : scale(0,0);
  transform-origin : center 110%;
  box-shadow: 0 0 25px 3px rgba(0,0,0,.5);
}

.layer-tools-loop{
  left: 0;
  margin-left: -53px;
  ul{
    border-radius: 6px;
    overflow: hidden;
    li{
      line-height: 40px;
      height: 40px;
      color: #ddd;
      border-bottom: 1px solid #d2d2d2;
      text-align: center;
    }
    li:hover{
      background: #f1f1f1;
    }
    li:last-child{
      border: 0;
    }
    .active{
      color: #333;
    }
  }
}


.layer-tools-loop-show{
  transform: scale(1,1);
}
.layer-tools-loop::after,.layer-tools-volume::after{
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: #fff transparent transparent transparent;
  content: "";
  bottom: -20px;
  left: 50%;
  margin-left: -10px;
}

.layer-tools-volume{
  width: 40px;
  height: 100px;
  margin-left: -4px;
  .volume-main{
    height: 80px;
    width: 6px;
    border-radius: 3px;
    background: #ddd;
    margin-left: 17px;
    margin-top: 10px;
    position: relative;
    .volume-bar{
      position: absolute;
      bottom: 0px;
      height: 0px;
      width: 6px;
      border-radius: 3px;
      .bar{
        display: block;
        position: absolute;
        top: 0;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        left: -2px;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.layer-tools-volume-show{
  transform: scale(1,1);
}
