.menus{
  padding: 20px 0;
  a{
    color: #333;
    font-size: 14px;
  }
  i{
    margin-right: 10px;
  }
  .childrens:hover{
    background: rgba(255,255,255,.85);
  }
  .list{
    padding: 0 20px;
    height: 34px;
    line-height: 34px;
  }
  .title{
    padding: 0 20px;
    a{
      font-size: 12px;
    }
  }
}
